[submodule "lib/vst3sdk/pluginterfaces"]
	path = lib/vst3sdk/pluginterfaces
	url = https://github.com/steinbergmedia/vst3_pluginterfaces.git
[submodule "lib/vst3sdk/public.sdk"]
	path = lib/vst3sdk/public.sdk
	url = https://github.com/steinbergmedia/vst3_public_sdk.git
[submodule "lib/vst3sdk/base"]
	path = lib/vst3sdk/base
	url = https://github.com/steinbergmedia/vst3_base.git
[submodule "lib/vst3sdk/cmake"]
	path = lib/vst3sdk/cmake
	url = https://github.com/steinbergmedia/vst3_cmake.git
[submodule "lib/redlog_cpp"]
	path = lib/redlog_cpp
	url = https://github.com/redthing1/redlog_cpp.git
[submodule "lib/libsndfile"]
	path = lib/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "lib/w1tn3ss"]
	path = lib/w1tn3ss
	url = https://github.com/redthing1/w1tn3ss
